* {
    --main-bg-color: #3f3f46;
    --title-color: #9ca3af;
    --calculator-bg-color: #262626;
    --digit-button-color: #7dd3fc;
    --display-color: #171717;
    --operator-color: #38bdf8;
    --extras-color: #0284c7;
    --equals-color: #e0f2fe;
}
body {
    color: var(--title-color);
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: start;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1 p {
    color: whitesmoke;
    font-weight: bold;
}

#calculator {
    background-color: var(--calculator-bg-color);
    width: 300px;
    height: 275px;
    padding-top: 20px;
    border-radius: 10px;
}

#display {
    padding-left: 5px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    width: 275px;
    margin: auto;
    text-align: start;
    font-size: 40px;
    background-color: var(--display-color);
}

#buttonDiv {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#centerNumPad {
    display: flex;
    flex-direction: column;
    size: 1000px
}

.row {
    size: 1000px;
    display: flex;
    justify-content: center;
}

.row>button {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--digit-button-color);
}

#operators {
    display: flex;
    flex-direction: column;
}

.operator {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--operator-color);
}

#extras {
    display: flex;
    flex-direction: column;
    justify-content: start;
}


#extras>button {
    width: 65px;
    height: 40px;
    margin: 5px;
    border-radius: 15px;
    background-color: var(--extras-color);
}

#buttonNegative {
    width: 50px;
    height: 50px;
}

#buttonEquals {
    background-color: var(--equals-color);
}

button {
    font-size: 20px;
    border: 1px solid black;
}

button:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.currentOperation {
    border: 5px solid #ca8a04;
}


